#{extends 'main.html' /}
#{set title:'Urna - Documentação API' /}
<meta charset="utf-8">



<div class="container demo">

    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="post">POST</i>
                        /api/terminal
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      Obtém o status atual da Urna Eletrônica (liberada ou bloqueada)
                      <br>
                      Parâmetros (String status) 
                      <br>
                      <br>
                      <p>Testar Serviço</p> 
                      	<label for="status">Value</label>
                      	<input name="status" type="text" id="status" class="form-control"><br>
                      	<button class="btn btn-success" onclick="servicoTerminal()" id="ter">Testar</button>
                      	<br>
                      	<br>
                      <p id="resultado"></p>                    
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="post">POST</i>
                        /api/finaliza-votacao
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Retorna se a votação foi ou não finalizada
                    <br>
                    Parâmetros (boolean finalizar)
                    <br>
                    <br>
                    <p>Testar Serviço</p> 
                      	<label for="status">Value</label>
                      	<input name="status" type="text" id="finalizar" class="form-control"><br>
                      	<button class="btn btn-success" onclick="servicoFinalizar()" id="fin">Testar</button>
                      	<br>
                      	<br>
                      <p id="resultado2"></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="post">POST</i>
                        /api/cancela-votacao
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Cancela a votação consumida pelo terminal
                    <br>
                    Parâmetros (boolean cancelarVotacao)
                    <br>
                    <br>
                    <p>Testar Serviço</p> 
                      	<label for="status">Value</label>
                      	<input name="status" type="text" id="cancelar" class="form-control"><br>
                      	<button class="btn btn-success" onclick="servicoCancelar()" id="canc">Testar</button>
                      	<br>
                      	<br>
                      <p id="resultado3"></p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                        <i class="get">GET</i>
                        /api/boletim
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                Obtém o boletim de Urna
                <br>
                Parâmetros (String ipUrna)
                <br>
                    <br>
                    <p>Testar Serviço</p> 
                      	<label for="status">IP Urna</label>
                      	<input name="status" type="text" id="ipUrna" class="form-control"><br>
                      	<button class="btn btn-success" onclick="servicoBoletim()" id="sec">Testar</button>
                      	<br>
                      	<br>
                      <p id="resultadoIPUrna"></p>
                </div>
                </div>
            </div>
        </div>
        
                <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                        <i class="post">POST</i>
                        /api/secao
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                Obtém a Seção da Urna
                <br>
                Parâmetros (String secao, String ipTerminal)
                <br>
                    <br>
                    <p>Testar Serviço</p> 
                      	<label for="status">Secao</label>
                      	<input name="status" type="text" id="secao" class="form-control"><br>
                      	<label>Ip Terminal</label>
                      	<input name="ipTerminal" type="text" id="ipTerminal" class="form-control"><br>
                      	<button class="btn btn-success" onclick="servicoSecao()" id="sec">Testar</button>
                      	<br>
                      	<br>
                      <p id="resultado4"></p>
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
    
    
</div><!-- container -->



